@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: #F1F1F3;
  }

  /* banner section css */
  .banner{
    width: 1200px;
    height: 560px;
    background: linear-gradient(45deg , #D0E6DC, #C8E0D8 );
    margin: 10px auto;
    display: flex;
    padding-left: 20px;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
  }
  .banner-content{
    width: 622px;
    height: 326px;
  }
  .banner-img{
    width: 474px ;
    height: 400px;
  }
  .banner-img img{
    width: 330px;
    height: 313px;
  }

  .banner-subtitle{
    color: #0E0E0E;
    font-size: 20px;
    opacity: 0.7;
  }

  .banner-title{
    font-size: 50px;
    font-weight: bold;
    color: #0E0E0E;
  }

  .banner-btn{
    background-color: #006A50;
    border: none;
    padding: 17px 34px ;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 5px;

  }

  .banner-btn:hover{
    background-color: green;

  }

/* vision section css */

  .vision{
    width: 1200px;
    margin: 20px auto;
    
  }
  .vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
  }

  .vision-description{
    font-size: 12px;
    color: #0E0E0E;
    opacity: 0.7;
    line-height: 18px;
  }

  .vision-card{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

  }
  .card-box-1, .card-box-2, .card-box-3{
    width: 400px;
    padding: 32px;
    border-radius: 16px;
  }

  .card-box-1{
    background: linear-gradient(45deg,#B7CEF3 100%, #5490F5 20% );
   

  }

  .card-box-2{
    background: linear-gradient(45deg,  #53d699 100%, #92ebc3 20%);

  }
  .card-box-3{
    background: linear-gradient(45deg, #f1cd78 100%, #f3d796 200%);

  }

  .card-box-img{
    height: 64px;
    width: 64px;
  }

  .card-title{
    font-size: 18px;
    font-weight: bold;
    color: #0E0E0E;
  }

  .card-des{
    font-size: 12px;
    line-height: 24px;
    opacity: 0.8;
    color: #0E0E0E;

    margin-bottom: 36px;
  }

  .card-btn-1{
    padding: 11px 20px;
    border: none;
    background-color: #5490F5;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
  }
  .card-btn-1:hover{
    background-color: #49ce92;
  }

  .card-btn-2{
    padding: 11px 20px;
    border: none;
    background-color: #09A15C;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
  }
  .card-btn-2:hover{
    background-color: #79bdeb;
  }
  .card-btn-3{
    padding: 11px 20px;
    border: none;
    background-color:  #49ce92 ;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 600;
  }
  .card-btn-3:hover{
    background-color:  #FFC239;
  }

  .quote{
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 32px;
    padding: 20px ;
    
  }
  .quote-inner{
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;

  }

  .main-quote{
    font-size: 12px;
    color: #0E0E0E;
    opacity: 0.8;
    line-height: 24px;
    
  }

  .quote-speaker{
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
    line-height: 20px;
  }

  .quote-title{
    font-size: 12px;
    opacity: 0.8;
    
    color: #0E0E0E;
    line-height: 20px;
  }



  
  